<% if (featureToggles['View Vehicle Fleets'].enabled) { %>
<h1><%= operatorData.operator_name %></h1>
<p>A bus operator
  <% regionNames.forEach((region, index) => { %><% if (index > 0) { %><%= index === regionNames.length - 1 ? ' and ' : ', ' %><% } %><%= region.in_the ? "in the " : "in " %><a href="/region/<%= region.code %>"><%= region.name %></a><% }); %>.
</p>

<ul class="horizontal">
  <% if (helperPermsData.includes('owner') || helperPermsData.includes('Add Buses')) { %><li><a href="/tracking/log/<%= fleetData.id %>">Add Bus</a></li><% } %>
  <% if (helperPermsData.includes('owner') || helperPermsData.includes('Mass Add Buses')) { %><li><a href="/tracking/log/<%= fleetData.id %>">Mass Add Bus</a></li><% } %>
  <% if (helperPermsData.includes('owner') || helperPermsData.includes('Mass Edit Buses')) { %><li><a href="/tracking/log/<%= fleetData.id %>">Mass Edit Bus</a></li><% } %>
</ul>

<ul class="tabs">
  <li><a href="/operator/<%= operatorData.operator_name %>">Routes</a></li>
  <li class="active"><%= fleetData.length %> Vehicles</li>
</ul>

<ul class="horizontal">
  <li><a href="/history?operator=<%= operatorData.id %>&approved=true">Recent Edits</a></li>
  <li><a href="/history?operator=<%= operatorData.id %>&pending=true">Pending Edits</a></li>
</ul>

<div class="table-wrapper">
  <table class="fleet" border="0" cellpadding="10" cellspacing="0">
    <thead>
      <tr>
        <th colspan="2"></th>

        <th colspan="2">Last tracked</th>

        <% if (fleetData.some(item => item.vehicle_type_data?.type_name)) { %>
        <th>Type</th>
        <% } %>

        <% if (fleetData.some(item => item.livery)) { %>
        <th>Livery</th>
        <% } %>

        <% if (fleetData.some(item => item.branding)) { %>
        <th>Branding</th>
        <% } %>

        <% if (fleetData.some(item => item.prev_reg)) { %>
        <th>Prev Reg</th>
        <% } %>

        <% if (fleetData.some(item => item.name)) { %>
        <th>Name</th>
        <% } %>

        <% if (fleetData.some(item => item.depot)) { %>
        <th>Depot</th>
        <% } %>

        <% if (fleetData.some(item => item.features.length > 1)) { %>
        <th>Features</th>
        <% } %>
      </tr>
    </thead>

    <tbody>
      <% fleetData.sort((a, b) => a.fleet_number - b.fleet_number); %>
      <% fleetData.forEach(item => { %>
      <tr id="<%= item.fleet_number %> - <%= item.operator.operator_code %>">
        <td><a href="/operator/<%= item.operator.operator_name %>/vehicle/<%= item.id %>"><%= item.fleet_number %></a></td>
        <td><a href="/operator/<%= item.operator.operator_name %>/vehicle/<%= item.id %>" class="reg"><%= item.reg %></a></td>

        <% if (item.last_tracked_date) { 
          const date = new Date(item.last_tracked_date); 
          const currentDate = new Date();
          const timeDiff = currentDate - date;
          const currentYear = currentDate.getFullYear();
          const day = date.getDate().toString().padStart(2, '0');
          const month = date.toLocaleString('en', { month: 'short' });
          const year = date.getFullYear();
          const hour = date.getHours().toString().padStart(2, '0');
          const minute = date.getMinutes().toString().padStart(2, '0');
    
          let formattedDate = timeDiff <= 86400000 ? `${hour}:${minute}` : 
                             (year !== currentYear ? `${day} ${month} ${year}` : `${day} ${month}`);
        %>
        <td><%= formattedDate %></td>
        <% } else { %>
        <td></td>
        <% } %>

        <td><%= item.last_tracked_route || '' %></td>

        <% if (fleetData.some(i => i.vehicle_type_data?.type_name)) { %>
        <td><%= item.vehicle_type_data?.type_name || '' %> <%= item.type_details || '' %></td>
        <% } %>

        <% if (fleetData.some(i => i.livery)) { %>
        <td>
          <% if (item.livery) { %>
          <div class="livery-cell" style="background: <%= item.colour ? item.colour : item.livery.left_css %>;"></div>
          <%= item.livery.name || '' %>
          <% } %>
        </td>
        <% } %>

        <% if (fleetData.some(i => i.branding)) { %>
        <td><%= item.branding || '' %></td>
        <% } %>

        <% if (fleetData.some(i => i.prev_reg)) { %>
        <td><%= item.prev_reg || '' %></td>
        <% } %>

        <% if (fleetData.some(i => i.name)) { %>
        <td><%= item.name || '' %></td>
        <% } %>

        <% if (fleetData.some(i => i.depot)) { %>
        <td><%= item.depot || '' %></td>
        <% } %>

        <% if (fleetData.some(i => i.features)) { %>
        <td>
          <% if (item.features.length > 1 && item.features !== '') { %>
              <%= JSON.parse(item.features).join(', ') %>
          <% } else { %>
              
          <% } %>
        </td>
        <% } %>
        <td>
          <a target="_blank" href='https://www.flickr.com/search/?text="<%= item.reg %>"%20or%20<%= item.reg.replace(/\s+/g, '') %><% if (item.prev_reg) { %>%20or%20<%= item.prev_reg %>%20or%20<%= item.prev_reg.replace(/\s+/g, '') %><% } %>&sort=date-taken-desc'>Flickr</a>
        </td>
        <% if (helperPermsData.includes('owner') || helperPermsData.includes('Edit Buses')) { %><li><td><a href="edit/<%= item.id %>">Edit</a></td></li><% } %>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<% } else { %>
<h2 style="text-align: center;">Oops! Fleets are currently unavailable.</h2>
<p style="text-align: center;">We're working on something exciting! Please check back later.</p>
<div class="error-img">
  <img src="/src/error.png" alt="">
</div>
<% } %>