<h1><%= operatorData.operator_name %></h1>
<p>A bus operator
  <% regionNames.forEach((region, index) => { %><% if (index > 0) { %><%= index === regionNames.length - 1 ? ' and ' : ', ' %><% } %><%= region.in_the ? "in the " : "in " %><a href="/region/<%= region.code %>"><%= region.name %></a><% }); %>.
</p>

<ul class="tabs">
  <li class="active"><%= total_routes %> Routes</li>
  <li><a href="<%= operatorData.operator_name %>/vehicle/">Vehicles</a></li>
</ul>

<ul class="services">
  <% routeData.forEach(route => { %>
  <li class="route">
    <% if (route.linked_route && route.linked_route.length > 0) { %>
      <a href="<%= operatorData.operator_name %>/route/<%= encodeURIComponent(route.id + route.linked_route.map(r => '+' + r.id).join('')) %>">
    <% } else { %>
      <a href="<%= operatorData.operator_name %>/route/<%= encodeURIComponent(route.id) %>">
    <% } %>
      <% if (route.linked_route && route.linked_route.length > 0 && route.linked_route.length < 3 ) { %>
        <% if (route.route_num) { %>
          <strong class="name first is-short"><%= route.route_num %></strong>
        <% } %>
        <% route.linked_route.forEach((linked, index) => { %>
          <% if (index === route.linked_route.length - 1) { %>
            <strong class="name is-short last "><%= linked.route_num %></strong>
          <% } else { %>
            <strong class="name is-short middle "><%= linked.route_num %></strong>
          <% } %>
        <% }) %>
        
      <% } else if (route.linked_route && route.linked_route.length > 0) { %>
        <% if (route.route_num) { %>
          <strong class="name first"><%= route.route_num %></strong>
        <% } %>
        <% route.linked_route.forEach((linked, index) => { %>
          <% if (index === route.linked_route.length - 1) { %>
            <strong class="name last"><%= linked.route_num %></strong>
          <% } else { %>
            <strong class="name middle"><%= linked.route_num %></strong>
          <% } %>
        <% }) %>

      <% } else { %>
        <% if (route.route_name) { %>
          <strong class="name is-short first"><%= route.route_num %></strong>
        <% } else { %>
          <% if (route.route_num) { %>
            <strong class="name is-short"><%= route.route_num %></strong>
          <% } %>
        <% } %>
      <% } %>

      <% if (route.route_name) { %>
        <% if (route.route_num) { %>
          <strong class="last name"><%= route.route_name %></strong>
        <% } else { %>
          <strong class="name"><%= route.route_name %></strong>
        <% } %>
      <% } %>
      <span class="destination"><%= route.inboud_destination %><%= route.outboud_destination ? ' - ' + route.outboud_destination : '' %></span>
    </a>
  </li>
  <% }); %>
</ul>

<div class="ad-box"></div>

<div class="operator_info">
  <h2><%= operatorData.operator_name %></h2>
  <dl class="contact-details">
    <% if (operatorData.operator_details.website) { %>
    <div>
      <dt>Website</dt>
      <dd><a href="<%= operatorData.operator_details.website %>" target="_blank"><%= operatorData.operator_details.website %></a></dd>
    </div>
    <% } %>
    <% if (operatorData.operator_details.twitter) { %>
    <div>
      <dt>Twitter</dt>
      <dd><%= operatorData.operator_details.twitter %></dd>
    </div>
    <% } %>
    <div>
      <% if (operatorData.operator_details.game) { %>
      <dt>Game</dt>
      <dd><a href="/game/<%= operatorData.operator_details.game %>"><%= operatorData.operator_details.game %></a></dd>
    </div>
    <% } %>
    <% if (operatorData.operator_details.type) { %>
    <div>
      <dt>Type</dt>
      <dd><%= operatorData.operator_details.type %></dd>
    </div>
    <% } %>
  </dl>
</div>