<h1 class="service-header">
    <% if (routeData.linked_route && routeData.linked_route.length > 0) { %>
    <% if (routeData.route_num) { %><strong
        class="name first is-short">
        <%= routeData.route_num %>
    </strong>

    <% } %>
    <% routeData.linked_route.forEach((linked, index) => { %>
    <% if (index === routeData.linked_route.length - 1) { %>
    <strong class="name last is-short">
        <%= linked.route_num %>
    </strong>
    <% } else { %><strong class="name middle is-short">
        <%= linked.route_num %>
    </strong>

    <% } %>
    <% }) %>
    <% } else { %>
        <% if (routeData.route_name) { %>
            <strong class="name is-short first"><%= routeData.route_num %></strong>
          <% } else { %>
            <% if (routeData.route_num) { %>
              <strong class="name is-short"><%= routeData.route_num %></strong>
            <% } %>
          <% } %>
        <% } %>

    <% if (routeData.route_name) { %>
    <% if (routeData.route_num) { %><strong
        class="last name is-short">
        <%= routeData.route_name %>
    </strong>
    <% } else { %><strong class="name is-short">
        <%= routeData.route_name %>
    </strong>

    
    <% } %>
    
    <% } %><span class="destination">
        <%= routeData.inboud_destination %>
        <%= routeData.outboud_destination ? ' - ' + routeData.outboud_destination : '' %>
    </span>
</h1>
<p>
    A service operated by
    <% const mainOperator = routeData.route_operators.find(op => op.operator_name === operatorName);
const otherOperators = routeData.route_operators.filter(op => op.operator_name !== operatorName);
const allOperators = [mainOperator, ...otherOperators];
allOperators.forEach((operator, index) => { %><a
        href="/operator/<%= encodeURIComponent(operator.operator_name) %>">
        <%= operator.operator_name %>
    </a>
    <%= index < allOperators.length - 2 ? ', ' : index === allOperators.length - 2 ? ' and ' : '' %>
    <% }) %>
</p>
<% if (routeData.service_updates && routeData.service_updates.length > 0) { %>
<div class="service-updates">
    <% routeData.service_updates.forEach(update => { %>
    <div class="service-update">
        <details>
            <summary>
                <%= update.update_details.title %>
                <div class="dates">
                    <%= new Date(update.start_date).toLocaleDateString('en-GB', {
                    weekday: 'long',
                    day: 'numeric',
                    month: 'long',
                    }) %> - 
                    <%= new Date(update.end_date).toLocaleDateString('en-GB', {
                    weekday: 'long',
                    day: 'numeric',
                    month: 'long',
                    year: 'numeric'
                    }) %>
                </div>
            </summary>
            <p>
                <%= update.update_details.description %>
            </p>
            <p>Effected Routes: 
                <% update.effected_route.forEach(function(route, index) { %>
                    <a href="<%= route.id %>"><%= route.route_num %><%= (index < update.effected_route.length - 1) ? ', ' : '' %></a>
                <% }); %>
            </p>
        </details>
    </div>
    <% }) %>
</div>

<% } %>

<div>
<h2>Related Routes</h2>
<ul>
    <% routeData.related_route.forEach(route => { %>
      <li>
        <p>
          <a href="/operator/<%= route.route_operators[0].operator_name %>/route/<%= route.id %>">
            <strong class="name routeName"><%= route.route_num %></strong>
            <span class="description"><%= route.inboud_destination ? route.inboud_destination : '' %><% route.outboud_destination ? ' - ' + route.outboud_destination : '' %></span>
          </a>
          <small style="margin-top: 2.5px;"><%= route.route_operators[0].operator_name %></small>
        </p>
      </li>
      <% }) %>
</ul>
    </div>

<div class="ad-box"></div>

<div class="operator_info">
    <h2>
        <%= operatorData.operator_name %>
    </h2>
    <dl class="contact-details">
        <% if (operatorData.operator_details.website) { %>
        <div>
            <dt>Website</dt>
            <dd><a href="<%= operatorData.operator_details.website %>"
                    target="_blank">
                    <%= operatorData.operator_details.website %>
                </a></dd>
        </div>
        <% } %>
        <% if (operatorData.operator_details.twitter) { %>
        <div>
            <dt>Twitter</dt>
            <dd>
                <%= operatorData.operator_details.twitter %>
            </dd>
        </div>
        <% } %>
        <div>
            <% if (operatorData.operator_details.game) { %>
            <dt>Game</dt>
            <dd><a
                    href="/game/<%= operatorData.operator_details.game %>">
                    <%= operatorData.operator_details.game %>
                </a></dd>
        </div>
        <% } %>
        <% if (operatorData.operator_details.type) { %>
        <div>
            <dt>Type</dt>
            <dd>
                <%= operatorData.operator_details.type %>
            </dd>
        </div>
        <% } %>
    </dl>
</div>