<!DOCTYPE html>
<html lang="en">

<head>
    <% var useFont = typeof useFont !== 'undefined' ? useFont : false; %>
    <script>
        let themeCSS = document.cookie.split('; ').find(row => row.startsWith(
            'theme='))?.split('=')[1];

        if (!themeCSS) {
            themeCSS = 'MBT_Light.css';
        }

        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.id = 'theme-stylesheet';
        link.href = `/media/themes/${themeCSS}`;
        document.head.appendChild(link);
    </script>
    <script> window.featureToggles = <%- JSON.stringify(featureToggles) %>; </script>

    <script src="/js/theme-loader.js"></script>
    <script src="/js/ad-script.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8764676296426896"crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="https://kit.mybustimes.cc/MBT%20Logos/Favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="https://kit.mybustimes.cc/MBT%20Logos/Favicon.png">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/<%= style %>.css">
    <% if (useFont) { %>
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/charles-wright">    
    <% } %>
    <meta name="theme-color" content="#<%= brandColor %>">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        <%= title %> - My Bus Times
    </title>

    <script>var _paq = window._paq = window._paq || []; _paq.push(['trackPageView']); _paq.push(['enableLinkTracking']); (function() { var u="//analytics.mybustimes.cc/"; _paq.push(['setTrackerUrl', u+'matomo.php']); _paq.push(['setSiteId', '1']); var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s); })(); </script>
    <noscript><img referrerpolicy="no-referrer-when-downgrade" src="https://analytics.mybustimes.cc/matomo.php?idsite=1&amp;rec=1" style="border:0" alt="" /></noscript>
</head>

<body>
    <noscript><iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-PN8ZVKWT"
            height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <header>
        <div class="site-header">
            <a href="/"><img id="logo" src="" height="55px"
                    alt="My Bus Times Logo"></a>
            <button id="menu-toggle"><img id="menu" src="" height="35px"
                    alt="Burger Menu Icon"></button>
            <form action="/search">
                <input type="search" name="q" id="q" placeholder="Search">
                <input type="submit" value="Search">
            </form>
            <div>
                <nav id="nav-menu">
                    <ul>
                        <li><a id="login-profile" href="/login">Login</a></li>
                        <li><a id="logout-profile" href=""></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="service-updates-banner">
        <span id="banner-text"></span>
    </div>
    <button id="dismiss-btn" style="float: right;">X</button>
    <main>
        <div class="breadcrumb">
            <ol>
                <% breadcrumbs.forEach((item, index) => { %>
                <li class="<%= item.className || 'default' %>">
                    <% if (index === breadcrumbs.length - 1) { %>
                    <a href="<%= item.url %>">
                        <span>
                            <%= item.name %>
                        </span>
                    </a>
                    <% } else { %><a
                        href="<%= item.url %>">
                        <span>
                            <%= item.name %>
                        </span>
                    </a>

                    
                    <% } %>
                </li>
                <% }); %>
            </ol>
        </div>
        <div class="content">
            <%- body %>
        </div>
    </main>

    <footer>
        <hr>
        <ul class="footer-info">
            <li><a href="/rules">Policies & FAQs</a></li>•
            <li><a href="/report">Bug Report</a></li>•
            <li><a href="/data">Data Source</a></li>
        </ul>
        <hr>
        <ul class="footer-info">
            <li><a href="https://www.youtube.com/@MyBusTimes">YouTube</a></li>•
            <li><a href="https://www.tiktok.com/@mybustimes">TikTok</a></li>•
            <li><a href="https://discord.gg/mybustimes">Discord</a></li>•
            <li><a href="https://www.tiktok.com/@mybustimes">Facebook</a></li>
        </ul>
        <br><br>
        <a href="https://www.buymeacoffee.com/mybustimes">
            <img id="support-btn" />

            <script>
                const textColor = getComputedStyle(document.documentElement)
                    .getPropertyValue('--text-color')
                    .trim()
                    .replace('#', '');
                const img = document.getElementById('support-btn');
                img.src =
                    `https://img.buymeacoffee.com/button-api/?text=Help Support MBT &slug=mybustimes&button_colour=<%= brandColor %>&font_colour=${textColor}&font_family=Lato&outline_colour=000000&coffee_colour=FFDD00`;
            </script>
        </a>
        <br><br>
        <label for="theme-selector">Select Theme:</label>
        <select id="theme-selector">
        </select>
        <br>
        <ul class="footer-info">
            <li id="users-stats">Online: 0 | Total: 0</li>
        </ul>
        <br>
        <ul class="footer-info">
            <li><a href="https://status.mybustimes.cc">Site Status</a></li>•
            <li><a href="/status">Feature Status</a></li>
        </ul>
        <div class="ad-box" id="footer-ad"></div>
        <p>&copy;
            <%= new Date().getFullYear() %> My Bus Times. All
            rights reserved.
        </p>
    </footer>
</body>
<script data-name="BMC-Widget" data-cfasync="false"
    src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
    data-id="mybustimes" data-description="Support me on Buy me a coffee!"
    data-message="" data-color='#<%= brandColor %>'
    data-position="Right" data-x_margin="18" data-y_margin="18">
</script>
</html>