<h1>Search</h1>
<p>Search for places, operators, services, users, and more</p>

<div class="wideSearch homeSearch">
  <form action="/search" method="get">
    <input type="search" name="q" value="<%= query %>" placeholder="Search for users..." />
    <input type="submit" value="Search">
  </form>
</div>

<div class="results">
  <% if (error) { %>
  <p>
    <%= error %>
  </p>
  <% } %>

  <% if (users && users.length > 0) { %>
  <h2>
    <%= users.length %> user(s)
  </h2>
  <ul>
    <% users.forEach(user => { %>
    <li>
      <p>
        <a href="/u/<%= user.username %>">
          <%= user.username %>
        </a>
      </p>
    </li>
    <% }) %>
  </ul>
  <% } %>

  <% if (games && games.length > 0) { %>
  <h2>
    <%= games.length %> game(s)
  </h2>
  <ul>
    <% games.forEach(game => { %>
    <li>
      <p>
        <a href="/game/<%= game.game_name %>">
          <%= game.game_name %>
        </a>
      </p>
    </li>
    <% }) %>
  </ul>
  <% } %>

  <% if (routes && routes.length > 0) { %>
    <h2>
      <%= routes.length %> route(s)
    </h2>
    <ul>
      <% routes.forEach(route => { %>
      <li>
        <p>
          <a href="/operator/<%= route.route_operators[0].operator_name %>/route/<%= route.id %>">
            <strong class="name routeName"><%= route.route_num %></strong>
            <span class="description"><%= route.inboud_destination ? route.inboud_destination : '' %><% route.outboud_destination ? ' - ' + route.outboud_destination : '' %></span>
          </a>
          <small style="margin-top: 2.5px;"><%= route.route_operators[0].operator_name %></small>
        </p>
      </li>
      <% }) %>
    </ul>
    <% } %>

  <% if ((operators_name || operators_code) && (operators_name.length > 0 || operators_code.length > 0)) { %>
  <h2>
    <%= operators_name.length + operators_code.length %> operator(s)
  </h2>
  <% } %>
  <% if (operators_name && operators_name.length > 0) { %>
  <ul>
    <% operators_name.forEach(operator => { %>
    <li>
      <p>
        <a href="/operator/<%= operator.operator_name %>">
          <%= operator.operator_name %>
        </a>
      </p>
    </li>
    <% }) %>
  </ul>
  <% } %>
  <% if (operators_code && operators_code.length > 0) { %>
  <ul>
    <% operators_code.forEach(operator => { %>
    <li>
      <p>
        <a href="/operator/<%= operator.operator_name %>">
          <%= operator.operator_name %>
        </a>
      </p>
    </li>
    <% }) %>
  </ul>
  <% } %>
  <% if (
    (!users || users.length === 0) &&
    (!games || games.length === 0) &&
    (!operators_name || operators_name.length === 0) &&
    (!operators_code || operators_code.length === 0) &&
    (!routes || routes.length === 0)
) { %>
    <br>
  <p>Nothing for your search: <%= query %>.</p>
  <% } %>
</div>