<h1><%= game %> Routes</h1>

<ul class="services">
  <% routes.forEach(route => { %>
  <li class="route">
    <a href="/game/<%= game %>/route/<%= route["Route Num"] %>">
          <strong class="name is-short"><%= route["Route Num"] %></strong>

      <span class="destination"><%= route.Inbound["In Dest"] %><%= route.Inbound["Out Dest"] ? ' - ' + route.Inbound["Out Dest"] : '' %></span>
    </a>
  </li>
  <% }); %>
</ul>