<br>
<% if (featureToggles['View Profile'].enabled) { %>
<div class="pfp-banner">
  <div class="banner">
    <img src="/src/Banner/<%= user %>.webp" alt="" onerror="this.src='/src/Banner/banner.png'">
  </div>
  <div class="pfp">
    <img src="/src/PFP/<%= user %>.webp" alt="" onerror="this.src='/src/PFP/pfp.png'">
  </div>
  <div class="user-info">
    <div class="user-info-name">
      <h1>
        <%= user %>
      </h1>
    </div>
    <div id="user-options">
    </div>
  </div>
  <div class="badges">
    <% if (userData.badges.length > 0) { %>
    <ul>
      <% userData.badges.forEach(function(badge) { %>
      <li class="badge" style="background: <%= badge.badge_backgroud %>; color: <%= badge.badge_text_color %>; <%= badge.additional_css %>"><%= badge.badge_name %></li>
      <% }); %>
    </ul>
    <% } else { %>
    <ul>

    </ul>
    <% } %>
  </div>
</div>

<div class="flex-wrapper">
  <div class="flex-wrapper-left">
    <div class="operator-data">
      <h2>Operators</h2>
      <% if (operatorData.length > 0) { %>
        <div class="table-wrapper">
          <table class="user-operators" border="0" cellpadding="10" cellspacing="0">
            <thead>
              <tr>
                <th>Operator Name</th>
                <th>Operator Code</th>
              </tr>
            </thead>
            <tbody>
              <% operatorData.forEach(operator => { %>
                <tr>
                  
                  <td><a href="/operator/<%= operator.operator_name %>"><%= operator.operator_name %></a></td>
                  <td><a href="/operator/<%= operator.operator_name %>"><%= operator.operator_code %></a></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      <% } else { %>
        <p>No operator data found</p>
      <% } %>
    </div>
  
    <div class="helper-operator-data">
      <h2>Helper Operators</h2>
      <% if (helper_operatorData.length > 0) { %>
        <div class="table-wrapper">
          <table class="user-operators" border="0" cellpadding="10" cellspacing="0">
            <thead>
              <tr>
                <th>Operator Name</th>
                <th>Operator Code</th>
              </tr>
            </thead>
            <tbody>
              <% helper_operatorData.forEach(helper => { %>
                <tr>
                  <td><a href="/operator/<%= helper.operator.operator_name %>"><%= helper.operator.operator_name %></a></td>
                  <td><a href="/operator/<%= helper.operator.operator_name %>"><%= helper.operator.operator_code %></a></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      <% } else { %>
        <p>No helper operator data found</p>
      <% } %>
    </div>
  </div>
  <div class="flex-wrapper-right">
    <div class="history-data">
      <h2>Recent Edits</h2>
      <div class="history-data-wrapper">
        <div class="history-data-item">
        </div>
      </div>
  </div>
</div>


<script>
  let username = document.cookie
    .split('; ')
    .find(row => row.startsWith('username='))
    ?.split('=')[1];

  let currentUser = "<%= user %>"; // User from the backend

  if (username) {
    // Check if the logged-in user matches the profile being viewed
    if (username === currentUser) {
      document.getElementById("user-options").innerHTML =
        '<span>&nbsp<a href="/code">Ticketer Code</a>&nbsp|&nbsp<a href="/settings">Settings</a></span>';
    } else {
      document.getElementById("user-options").innerHTML =
        '<span>&nbsp<a href="/report/' + currentUser + '">Report</a></span>';
    }
  } else {
    document.getElementById("user-options").innerHTML =
      '<span>&nbsp<a href="/report/' + currentUser + '">Report</a></span>';
  }
</script>
<% } else { %>
<h2>Oops! Profiles are currently unavailable.</h2>
<p>We're working on something exciting! Please check back later.</p>
<div class="error-img">
  <img src="/src/error.png" alt="">
</div>
<% } %>